<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbim.cube.mapper.BaseTreeMapper">

    <select id="countByParentId" resultType="java.lang.Integer">
         select count(*) from ${tableName} where parent_id=#{parentId}
    </select>

    <select id="maxSortByParentId" resultType="java.lang.Integer">
        select max(sort) from ${tableName} where parent_id=#{parentId}
    </select>

    <select id="getFirstChildByParentId" resultType="java.util.Map">
        SELECT * FROM ${tableName} WHERE parent_id=#{parentId}  ORDER BY sort limit 1
    </select>

    <delete id="deleteByIdPathIsLike">
         delete from ${tableName}  where id_path like #{idPath}
    </delete>

    <update id="updateToLeaf">
         update ${tableName} set leaf = 1 where id = #{id}
    </update>

    <update id="updateChildSortAndLeafById">
        update ${tableName} set child_sort = child_sort + #{incr} ,leaf = #{leaf} where id = #{id}
    </update>

    <update id="updateRootIdById">
        update ${tableName} set root_id = #{rootId} where id = #{id}
    </update>

    <update id="updateParentIdById">
         update ${tableName} set parent_id = #{parentId} where id = #{id}
    </update>

    <update id="updateTreeByIncr">
           update ${tableName} set `depth` = `depth` + #{depthIncr} , id_path = REPLACE(id_path , #{currentIdPath} , #{newIdPath}) where id_path like #{childIdPath}
    </update>

    <update id="incrNextSort">
        update ${tableName} set `sort` = `sort` + 1  where parent_id = #{parentId} and `sort` <![CDATA[ >= ]]> #{nextSort}
    </update>
    <update id="updateToNonLeaf">
        update ${tableName} set leaf = 0 where id = #{id}
    </update>

</mapper>